<section class="w-100">
<a class="sr-only sr-only-focusable" href="#content">Back to main content</a>

<nav class="navbar navbar-expand-lg navbar-dark">
  <ul id="lesson-nav">
    <li class="nav-item nav-link"><a id="prevlink-a" href="#"  class="hidden">Previous Lesson</a></li>
    <li class="nav-item nav-link"><a id="nextlink-a" href="#"  class="hidden">Next Lesson</a>
  </ul>
</nav>
</section>


<script type="text/javascript">
  var page = window.location.href;
  if(page.includes("plans")) {
    var today = page.substr(-2, 2);
        today = parseInt(today);
    var prev = today-1;
    var next = today+1;

    if (prev >= 1) {
      var prevlink_a = document.getElementById("prevlink-a");
      prevlink_a.href = "week-" + (prev < 10 ? "0" + prev : prev);
      prevlink_a.classList.replace("hidden", "visible");
    }

    if (next <= 16) {
      var nextlink_a = document.getElementById("nextlink-a");
      nextlink_a.href = "week-" + (next < 10 ? "0" + next : next);
      nextlink_a.classList.replace("hidden", "visible");
    }
  }

</script>
